@{
    ViewData["Title"] = "ChiTiet";
}
@model HoaDon

<div>
    <h4>Danh sách sản phẩm</h4>

    @if (Model.ChiTietHoaDon != null && Model.ChiTietHoaDon.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Hình ảnh</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChiTietHoaDon)

                {
                    <tr>
                        <td>@item.SanPham.Name</td>
                        <td>@item.Quantity</td>
                        <td><img width="100" src="@item.SanPham.ImageUrl" /></td>
                        <td class="text-danger">@item.SanPham.price.ToString("N0")đ</td>
                        <td class="text-danger">@item.ProductPrice.ToString("N0")đ</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<h4 class="text-danger">Tổng tiền: @Model.Total.ToString("N0")đ</h4>
<a asp-action="Index" class="btn btn-primary">Quay Lại</a>