@{
    ViewData["Title"] = "Index";
}

@model Customer
<div class="container">
    <form asp-action="Search" method="get">
        <input type="text" name="searchString" placeholder="Nhập người dùng cần tìm ..."
               value="@ViewBag.SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </form>
    <table class="table">
        <thead>
            <tr>Tên người dùng</tr>
            
        <th>Chức năng</th>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.TheLoai)
            {
                <tr>
                    <td width="30%"> @item.Name</td>
                    <td width="30%"> @String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
                    <td width="40%">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="TheLoai" asp-action="Create" class="btn btn-primary">Thêm mới</a><a>
</div>